@font-face {
  font-family: "Pompiere";
  src: url("/assets/fonts/Pompiere-Regular.woff2") format("woff2"),
    url("/assets/fonts/Pompiere-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
