@import "./fonts";
@import "./themes/themes";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pompiere", sans-serif !important;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
